<!DOCTYPE html>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="<%= sails.config.custom.baseUrl %>blog">Simple CRUD using SailsJS</a>.</strong> All rights
    reserved.
</footer>
