<!DOCTYPE html>
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="<%= sails.config.custom.baseUrl %>blog">Simple CRUD using SailsJS</a>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">Navigation</li>
                <li class="active item">
                    <a href="<%= sails.config.custom.baseUrl %>blog">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="item">
                    <a href="<%= sails.config.custom.baseUrl %>blog/list">
                        <i class="material-icons">pageview</i>
                        <span>View</span>
                    </a>
                </li>
                <li class="item">
                    <a href="<%= sails.config.custom.baseUrl %>blog/create">
                        <i class="material-icons">add_box</i>
                        <span>Create</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <i class="material-icons">mode_edit</i>
                        <span>Update</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2017 <strong>Jayson Macatangay</strong>
            </div>
            <div class="version">
                <b>Version: </b> 3.0.0
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>
