<!DOCTYPE html>
<html>
<head>
    <title><%= title %> &mdash; Simple CRUD using Sails.js</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="" />
    <!--STYLES-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/admin-lte/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/admin-lte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/admin-lte/plugins/pace/pace.min.css">
    <!--STYLES END-->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        a.nostyle:link {
            text-decoration: inherit;
            color: inherit;
            cursor: auto;
        }
        a.nostyle:visited {
            text-decoration: inherit;
            color: inherit;
            cursor: auto;
        }
    </style>
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Header -->
    <%- partial('../partials/header.ejs') %>
    <!-- End of Header -->

    <%- body %>

    <!-- Footer -->
    <%- partial('../partials/footer.ejs') %>
    <!-- End of Footer -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin-lte/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/admin-lte/dist/js/adminlte.min.js"></script>
    <script src="/select2/dist/js/select2.full.min.js"></script>
    <script src="/admin-lte/plugins/pace/pace.min.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <!--SCRIPTS END-->
</body>
</html>
