<!DOCTYPE html>
<html>
<head>
    <title><%= title %> &mdash; Simple CRUD using Sails.js</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!--STYLES-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/node-waves/waves.min.css">
    <link rel="stylesheet" href="/plugins/animate-css/animate.min.css">
    <link rel="stylesheet" href="/plugins/morrisjs/morris.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/themes/all-themes.min.css">
    <link rel="stylesheet" href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/waitme/waitMe.css">
    <link rel="stylesheet" href="/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
    <style>
        a.nostyle:link {
            text-decoration: inherit;
            color: inherit;
        }
        a.nostyle:visited {
            text-decoration: inherit;
            color: inherit;
        }
    </style>
</head>

<body class="theme-indigo">
    <!-- Header -->
    <%- partial('../partials/header.ejs') %>
    <!-- End of Header -->

    <%- body %>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/plugins/node-waves/waves.js"></script>
    <script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-countto/jquery.countTo.js"></script>
    <script src="/plugins/raphael/raphael.min.js"></script>
    <script src="/plugins/morrisjs/morris.js"></script>
    <script src="/plugins/chartjs/Chart.bundle.js"></script>
    <script src="/plugins/flot-charts/jquery.flot.js"></script>
    <script src="/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="/plugins/flot-charts/jquery.flot.time.js"></script>
    <script src="/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="/plugins/autosize/autosize.js"></script>
    <script src="/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/scripts/scripts.js"></script>
    <!--SCRIPTS END-->
</body>
</html>
