<section class="content">
    <!-- Title -->
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="display:inline-block;font-size:2rem;"><%= title %></h2> &mdash; Simple CRUD using SailsJS
        </div>
    </div>
    <!-- #Title -->
    <!-- Content -->
    <div class="row clearfix" style="margin-top:10rem;">
        <div class="col-md-6 col-md-offset-3">
            <a href="<%= sails.config.custom.baseUrl %>blog/list" class="nostyle">
                <div class="info-box bg-blue hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">pageview</i>
                    </div>
                    <div class="content">
                        <center>
                            <div class="text" style="font-size:4rem;margin:0;transform: translate(55%, 10%);">View Blog</div>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <a href="<%= sails.config.custom.baseUrl %>blog/create" class="nostyle">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">add_box</i>
                    </div>
                    <div class="content">
                        <center>
                            <div class="text" style="font-size:4rem;margin:0;transform: translate(9%, 10%);">Create New Article</div>
                        </center>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- #Content -->
</section>
